/* Global Styles */

@font-face {
  font-family: 'gochi';
  src: url("./assets/fonts/Gochi_Hand/GochiHand-Regular.ttf") format('truetype');
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;             
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: bisque ;
}

/* Sections */

#title {
    font-family: 'gochi', sans-serif;
    font-size: 3em;
    color:blueviolet;
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
}

#size-button{
    padding:1%;
    border-radius: 8%;
   background-color:rgb(185, 136, 163);
   color:black;
}
#container {
    margin: 10px;
    padding: 0;
    width: 640px; 
    height: 640px; 
    border: 2px solid black;
    background-color: bisque;
}

/* Rows */
.grid-row {
    display: flex; 
    flex-direction: row;     
    width: 100%;
}

/* Cells / columns */
.grid-cell { 
    flex: 1;     
    border: 1px solid #c7c4c4;
}
