/* Global Styles */

@font-face {
  font-family: 'gochi';
  src: url("./assets/fonts/Gochi_Hand/GochiHand-Regular.ttf") format('truetype');
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/* Sections */

#title {
    font-family: 'gochi',sans-serif;
    font-size: 3em;
    font-weight: lighter;
    text-align: center;
}

#container{
    margin: 10px;
    padding: 0;
    height: 60vh;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#container div{   
   flex: 1 1 auto;
   width: 6.25%;
   height:6.25%;
   border: 1px solid black;
}